.App {
  text-align: center;
  width: 100%;
}
body {
  background-color: #ffffff;
  color: #202020;
  font-family: sans-serif;
}

/* Header */
.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: xx-large;
  font-weight: lighter;
  width: inherit;
  box-shadow: 0 0 1px grey;
}
.image {
  border-radius: 20%;
  padding: 1rem;
  width: 5rem;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: inherit;
  height: 25rem;
}
.tasks-list {
  background-color: #f0f0f4;
}
/* Bouton operating + result */
.hideElement {
  display: none;
}

.result {
  /* display: table-cell; */
  background-color: #5c48d3;
  border-radius: 15%;
  color: white;
  font-size: xx-large;
  height: 3rem;
  width: 3rem;
  text-align: center;
  vertical-align: middle;
}

.add-bt {
  background-color: #5c48d3;
  border-radius: 15%;
  color: white;
  height: 1.5rem;
  margin-top: 1rem;
  width: 5rem;
}

/* Footer */
.footer {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
}
.bold-span {
  font-weight: bold;
}
